// 手机端1px像素border效果，别忘了在外层加上一个border-1px的calss名称
border-1px($color)
  position: relative
  &:after
    display: block
    position: absolute
    left: 0
    bottom: 0
    width: 100%
    border-top: 1px solid $color
    content: ' '

before-1px($color)
  position: relative
  &:before
    display: block
    position: absolute
    left: 0
    top: 0
    width: 100%
    border-top: 1px solid $color
    content: ' '
// 取消手机端1px像素border效果
border-none()
  &:after
    display: none

before-none()
  &:before
    display: none
// 根据设备像素比选择2x和3x图片
bg-image($url)
  background-image: url($url + "@2x.png")
  @media (-webkit-min-device-pixel-ratio: 3),(min-device-pixel-ratio: 3)
    background-image: url($url + "@3x.png")

// 上拉刷新下拉加载样式函数
refreshstyle($top)
  width: 100%
  height: $top
  z-index: 1
  line-height: $top
  text-align: center
  color: #777
  background: #f2f2f2
  .icon-jiazai
    display: inline-block
    width: 15px
    height: 15px
    margin-right: 10px
    vertical-align: middle
    background-size: 15px 15px
    background-repeat: no-repeat
    background-image: url("jiazai.gif")